<html>
	<head>
		<meta charset="utf-8" />
		<title>Bièrodex 2.0.</title>
		<LINK REL="stylesheet" HREF='static/style.css' TYPE="text/css">
		<link rel="shortcut icon" href="static/favicon.ico" >
		
	</head>
	<body>
		<header>
			<nav>
				<ul id="menu">
					<li id="first"><a href="index">Accueil</a></li>
					<li><a href="liste">Les bières</a></li>
					<li><a href="ajouter">Ajouter une bière</a></li>
					<li><a href="avis">Votre avis</a></li>
					<li><a href="contact">Contact</a></li>
					
				</ul>
			</nav>
		</header>
		<section>
			<div id="contenu">
				<H1>Bienvenue sur le Bièrodex 2.0.</H1>
				<p>Le bièrodex 2.0 est un outil de répertoriation des bières à travers le monde entier.</p>  
				<p>Avec ce nouvel outil révolutionnaire, contribuer au listing de toutes les bières existantes en communauté avec tous les autres guindailleurs du monde.
				</p>
				<p><img class='blonde' src="https://thumbs.dreamstime.com/t/la-belle-jeune-fille-blonde-boit-hors-de-la-chope-en-gr%C3%A8s-de-bi%C3%A8re-oktoberfest-77796356.jpg"><i>La bière est une boisson alcoolisée obtenue par fermentation d'un moût préparé à partir de matières premières amylacées (orge, maïs, riz, banane, manioc) et d'eau potable. Le moût est un jus sucré obtenu à l'issue d'une étape importante de la fabrication de la bière, le brassage, terme à l'origine des vocables brasseur et brasserie.

					Plus spécifiquement de nos jours, elle est généralement produite à partir d’eau, de malt (céréale germée, principalement de l'orge, parfois additionné d'autres céréales) et depuis le Moyen Âge, de houblon qui apporte le parfum et l'amertume nécessaires à chaque bière, et agit comme conservateur naturel.</p>

				<P>Elle est consommée à la pression, en bouteille et en canette. Symbole associé à la fête, à la convivialité en famille ou entre amis, elle est à l'origine de nombreux évènements festifs (fête de la bière, mondial de la bière, journée internationale de la bière) mais suscite également de nombreux excès (jeux à boire tels que le bière-pong, le Flip cup (en), le bong à bière (en), la botte de bière (de) ou le barathon).

					</p><P>Des versions très faiblement alcoolisées (variant de 2° à 0°) sont présentes sur le marché. Contrairement aux autres boissons « sans alcool », elles sont élaborées par les mêmes procédés que la bière classique. La fabrication de la bière est réalisée industriellement ou artisanalement dans une brasserie mais est réalisable par le particulier.

					La bière est la plus ancienne boisson alcoolisée connue au monde et la boisson la plus consommée après l'eau et le thé.</i>
				
				</p>
			</div>

		</section>
		
	
	
	</body>
</html>
	











</html>